@font-face {
    font-family: Futura; /* Гарнитура шрифта */
    src: url('jZapNz8O.ttf'); /* Путь к файлу со шрифтом */
   }

.intro {
	position: fixed;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #0D0D0D;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro {
	-webkit-transform: translate3d(0, -100%, 0) translate3d(0, 120px, 0);
	transform: translate3d(0, -100%, 0) translate3d(0, 120px, 0);
}

/* Fullscreen image */
.intro__image {
	background: url(../img/img/main-malina.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	max-width: 1400px;
	width: auto;
	height: auto;
	opacity: 0.7;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro__image {
	opacity: 0;
	-webkit-transform: translate3d(0, 20%, 0);
	transform: translate3d(0, 20%, 0);
}

/* Intro content */
.intro__content {
	position: absolute;
	bottom: 0;
	padding: 0.8em;

	width: 100%;
	font-size: 1.15em;
	-background: linear-gradient(to top right, 
	rgba(13,13,13,0.8), rgba(36,36,36,0.3)); 

}

.intro__title {
	margin: 30px 0 20px;
	-font-weight: 900;
	font-size: 40px;
	font-family: Futura,sans-serif;
letter-spacing: 1px;

	-text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
	line-height: 1;

	color: #fff;
	display: inline-block;
}

.intro__subtitle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.intro__description {
	margin: 0 auto 0 1em;
	line-height: 1.2;
}

/* Trigger button with SVG */
.trigger {
	position: absolute;
	bottom: -75px;
	-right: 30px;
	z-index: 3;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 90px;
	height: 90px;
	outline: none;
	border: none;
	background: none;
}

/* Hide the text */
.trigger span {
	-position: absolute;
	-top: 100%;
}

.icon rect,
.icon line {
	stroke: #CF1B1E;
	fill: none;
	stroke-width: 2px;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* Main content */
.items-wrap {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 150px 5px 0;
			align-items: center;
		justify-content: center; 
}

.items-wrap::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2a2e39;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	pointer-events: none;
}

.container--open .items-wrap::after {
	opacity: 0;
}

.item {
	position: relative;
	-webkit-flex: 0 0 32.333%;
	flex: 0 0 32.333%;
	overflow: hidden;
	height: 22vw;
	outline: none;
	margin: 0 5px 10px;
	-border: 5px solid #141414;
	-border-width: 0 5px 10px;


}

.item__image {
	position: absolute;
	top: 50%;
	min-height: 100%;
	width: 100%;
	opacity: 0.9;
	-webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.item:hover .item__image {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.item__title {
	position: absolute;
	width: 100%;

	background: linear-gradient(to top right, 
	rgba(13,13,13,0.8), rgba(36,36,36,0.3)); 

	bottom: 0;
	margin: 0;
	padding: 1em;
	color: #dbdbdb;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item__title {
	opacity: 0;
	-webkit-transform: translate3d(90px,0, 0);
	transform: translate3d(90px,0, 0);
}


/* Media Queries */

@media all and (max-width: 1440px) {
	.item {
		-webkit-flex: 1 0 32.333%;
		flex: 1 0 32.333%;
		-height: 320px;

	}

}

@media all and (max-width: 1000px) {
	.item {
		-webkit-flex: 1 0 32.333%;
		flex: 1 0 32.333%;
		-height: 320px;
	}
	.item,
	.intro__content {
		font-size: 0.95em;
	}
.thumb-nav {
	top: 210px !important;
	transition: 1s;
}
.container--open .thumb-nav {
	top: 0 !important;
	transition: 1s;
}
.logo-a  img{
		width: 370px !important;
	}


	.pluso-custom div{
		margin-bottom: 5px;
		margin-left: 13px;
	}

	.pluso-custom {
		-width: 200px;
		-bottom: 10px;
		-right: 60px;
		margin-right: 150px;

	}
	.telephone {
		padding-left: 22px;
	}



}

@media all and (max-width: 768px) {
	.item {
		-webkit-flex: 0 0 90%;
		flex: 0 0 90%;
		height: 300px;
	}

	.intro__title {
		font-size: 2em;
	}
	.logo-a  img{
		width: 220px !important;
		-position: absolute !important;
		-top: -300px !important; 
		-left: 50px;


	}

.trigger {
	width: 60px;
	height: 60px;
	bottom: -50px;
	right: 20px;
}
	.pluso-custom div{
		margin-bottom: 5px;
		margin-left: 11px;
	}

	.pluso-custom {
		width: 200px;
		-bottom: 10px;
		-left: 60px;

		margin: 0 20px 0 30px;


	}
	.telephone {
		padding-left: 12px;
		margin: 0;
		font-size: 18px;
	}


}



.thumb-nav {
	position: fixed;
	top: 40px;
	right: 10px;
	
	width: 400px;
	z-index: 1000;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 2em;
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.intro__title {
	text-align: right;
}

.container--open .thumb-nav {
	opacity: 0;
	-webkit-transform: translate3d(0, -200px, 0);
	transform: translate3d(0, -200px, 0);
}





/****************************
****************************

form

****************************
****************************/

.cbp-mc-form {
    position: relative;
}
 
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
    content: " "; display: table; 
}
 
.cbp-mc-form:after { 
    clear: both; 
}
 
.cbp-mc-column {
    width: 50%;
    padding: 10px 30px;
    float: left;
    -margin-left: auto;
    -margin-right: auto;
}
 
.cbp-mc-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;

    letter-spacing: 1px;
    cursor: pointer;

}
 
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #fff;
    display: block;
    width: 100%;
    background: transparent;
}
 
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    border: 3px solid #fff;
}
 .cbp-mc-form select option {
 	color: #000;
 }
.cbp-mc-form textarea {
    min-height: 182px;
}
 
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #FA2523;
}
 
.cbp-mc-form select:focus {
    outline: none;
}
 
::-webkit-input-placeholder { /* WebKit browsers */
    color: #0D0D0D;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #0D0D0D;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #0D0D0D;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #0D0D0D;
    font-style: italic;
}
 
.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}
 
.cbp-mc-form input.cbp-mc-submit {
    background: #0D0D0D;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}
 
.cbp-mc-form input.cbp-mc-submit:hover {

    background: #FA2523;
    color: #0D0D0D;
}
 
@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}
 
@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}




/****************************
****************************

footer

****************************
****************************/

footer {
	width: 95.666%;
	height: 70px;
	border-top: 3px solid #dbdbdb;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
}

footer a h3{
	display: inline-block;
}
footer ul {
	float: right;
}
footer ul li{
	list-style: none;
	margin-bottom: 10px;
}



/****************************
****************************

figure

****************************
****************************/

figure > a {
	overflow: hidden;
}
figure {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}
figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

figcaption {
	background: #0D0D0D;
	height: 100%;
	width: 50%;
	opacity: 0;
	padding: 13px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

figure:hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.1s;
	-moz-transition: -moz-transform 0.6s, opacity 0.1s;
	transition: transform 0.6s, opacity 0.1s;
}

figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #FA2523;
	color: #fff;
		position: absolute;
	bottom: 20px;
	right: 20px;
}
figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #0D0D0D;
	color: #ed4e6e;
}
figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}



.logo-row{
	margin-top: 20px;
}