@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700&subset=latin,cyrillic);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	background: linear-gradient(to bottom, #0D0D0D, #868283);
	color: #dbdbdb;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;

	max-width: 1400px !important;

}

a {
	color: #dbdbdb;
	text-decoration: none;
}

a:hover,
a:focus {
	outline: none;
	color: #fff !important;
}

.codrops-links {
	position: relative;
	-webkit-flex: none;
	flex: none;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

.demos {
	margin-top: 0.5em;
}

.demos__item {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.2em 0;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 2px;
	font-size: 0.75em;
}

.demos__item--current {
	border-bottom: 1px solid #000;
	border-color: initial;
}

.related {
	padding: 9em 1em;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.8;
}

.trigger {
	-margin-top: 0.8em;

}
.logo-a {
	-display: block;
	-height: 250px ;
	-width: 500px ;
	-position: fixed;
	-top: 10px;
	-left: 10px;
	z-index: 2;
	-opacity: 1;
	transition: 1.5s;
	-background: url(../img/img/logo.png) no-repeat;
}
.logo-a  {
	
	transition: 0.6s;
}

.container--open .logo-a  {
	opacity: 0;
	-width: 220px;
	transition: 0.6s;
}

.telephone{
	padding-left: 70px;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	-position: absolute;
	-bottom: 50px;
	-right: 200px;
	list-style: none;

}

.pluso-custom{
	-position: absolute;
	bottom: 7px;
	right: 150px;
	display: inline-block;
	float: left
	vertical-align: bottom;
	-margin-top: 140px; 
	margin-left: 50px;

}
.pluso-custom div{

	height: 100%;
	display: inline-block;
	vertical-align: middle;



}